$car-width: 80px;
$car-height: 60px;
$car-initial-left: 100px;

@keyframes drive {
  0% {
    left: $car-initial-left;
  }

  100% {
    left: calc(100% - $car-width);
  }
}

.car {
  position: absolute;
  width: $car-width;
  height: $car-height;
  left: $car-initial-left;
  bottom: -50px;
}

.garage-item {
  &.drive {
    .car {
      animation-name: drive;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }

    &.stop {
      .car {
        animation-play-state: paused;
      }
    }
  }
}
