$width-xl: 1200px;
$width-lg: 992px;
$width-md: 768px;
$width-sm: 500px;

$car-width: 90px;
$car-height: 90px;
$car-initial-left: 150px;

$header-z-index: 10;
$loader-z-index: 10;
$manager-z-index: 10;
$popup-z-index: 9;
$status-box-z-index: 10;

$container-width: 480px;
$header-padding-x: 100px;
