.garage-item {
  position: relative;

  &_update {
    .garage-item__update-wrapper {
      display: block;
    }

    .garage-item__btn-show-update-car {
      display: none;
    }
  }
}

.garage-item__update-wrapper {
  display: none;
}