.garage-item {
  position: relative;
  margin-bottom: 60px;

  &_update {
    .garage-item__update-wrapper {
      display: block;
    }

    .garage-item__btn-show-update-car {
      display: none;
    }
  }

  &.drive {
    .garage-item__btn-start {
      @extend %disabled;
    }
  }

  .garage-item__btn-stop:not(.garage-item.drive .garage-item__btn-stop) {
    @extend %disabled;
  }
}

.garage-item__update-wrapper {
  display: none;
}

.garage-item__top {
  display: flex;
  align-items: center;
  height: 30px;
}

.garage-item__bottom {
  position: relative;
  top: 20px;
}

.garage-item__car-name {
  margin: 0 0 0 10px;
}
