@keyframes popup-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes popup-hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: $popup-z-index;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  opacity: 0;

  &.show {
    display: flex;
    animation: popup-show 300ms ease-out forwards;
  }

  &.hide {
    animation: popup-hide 300ms ease-out forwards;
  }
}

.win-notification {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.fire-text {
  position: relative;

  .fire-text__content {
    position: relative;
    color: #ffeb3b;
    text-shadow: 0 0 10px #ff8c3b, 0 0 40px #ff8c3b, 0 0 80px #ff8c3b, 0 0 160px #ff8c3b, 0 0 240px #ff8c3b;
  }
}
